html, body {
  margin: 0; 
  padding: 0;
  text-align: center;
}

header {
  position: relative;
  height: 110vh;
  background-image: linear-gradient(#deb968, #67dbb8);
}

.opener{
  font-family: "Verdana";
  margin: 5px; 
  color: white;
  vertical-align: middle;
}

h1 {
  font-size: 60px 
}

.opener h1 {
  margin: 0; 
  padding-top: 45vh;
  color: white;
  vertical-align: middle;
}

h3 {
  font-size: 20px;
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  /* set height to pixels if you want angle to change with screen width */
}


